@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
}

body .container {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .question-title {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color: #cc8e35;
  margin-bottom: 4rem;
}

body .container .questions-container {
  height: 500px;
}

body .container .questions-container .question-container {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 7px;
  height: 10rem;
  margin: 3rem 0;
  width: 600px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

body .container .questions-container .question-container.decrease-container {
  height: 5rem;
}

body .container .questions-container .question-container .question-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
}

body .container .questions-container .question-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .questions-container .question-container .button-container button {
  background-color: transparent;
  border: none;
  color: #cc8e35;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

body .container .questions-container .question-container .button-container button:hover {
  -webkit-animation: rotate 1s linear;
          animation: rotate 1s linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .container .questions-container .question-container .button-container button .plus-icon {
  display: block;
}

body .container .questions-container .question-container .button-container button .plus-icon.hidden {
  display: none;
}

body .container .questions-container .question-container .button-container button .minus-icon {
  display: block;
}

body .container .questions-container .question-container .button-container button .minus-icon.hidden {
  display: none;
}

body .container .questions-container .question-container .explanation {
  margin: 1rem 1.5rem;
  font-family: 'Rubik', sans-serif;
  color: gray;
  display: block;
  -webkit-transition: 12s;
  transition: 12s;
}

body .container .questions-container .question-container .explanation.hidden {
  display: none;
}
/*# sourceMappingURL=stil.css.map */